<h2>{{ isEditMode ? 'Editar Prato' : 'Adicionar Novo Prato' }}</h2>
<form [formGroup]="dishForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nome:</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="description">Descrição:</label>
    <input id="description" type="text" formControlName="description">
  </div>
  <div>
    <label for="price">Preço:</label>
    <input id="price" type="number" formControlName="price">
  </div>
  <div>
    <label for="photo">Foto (URL):</label>
    <input id="photo" type="text" formControlName="photo">
  </div>
  <div>
    <label for="categoryId">Categoria:</label>
    <select id="categoryId" formControlName="categoryId">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  <button type="submit">{{ isEditMode ? 'Atualizar' : 'Criar' }}</button>
  <button type="button" (click)="router.navigate(['/admin/dishes'])">Cancelar</button>
</form>