<div class="carousel-container" *ngIf="!isFiltered && recommendedDishes.length > 0">
  <div class="carousel">
    <div *ngFor="let image of carouselImages; let i = index" class="carousel-item" [ngClass]="{ 'active': currentImageIndex === i }">
      <img [src]="image.url" alt="{{ image.alt }}" class="carousel-image" />
      <div class="carousel-caption">{{ image.caption }}</div>
    </div>
  </div>
</div>

<!-- Seção de Pratos Recomendados (aparece apenas quando não está filtrado) -->
<div *ngIf="!isFiltered && recommendedDishes.length > 0">
  <h2>Pratos Recomendados</h2>
  <div class="dish-list">
    <div *ngFor="let dish of filteredDishes" class="dish-card" [routerLink]="['/dish', dish.id]">
      <img [src]="dish.photo" alt="{{ dish.name }}" class="dish-image" />
      <h3>{{ dish.name }}</h3>
      <p>{{ dish.description }}</p>
      <p><strong>Preço:</strong> {{ dish.price | currency:'EUR' }}</p>
    </div>
  </div>
</div>

<div *ngIf="recommendedDishes.length === 0">
  <p>Nenhum prato disponível no momento.</p>
</div>

<!-- Seção de categorias (aparece apenas quando não está filtrado) -->
<div *ngIf="!isFiltered">
  <div *ngFor="let category of categories">
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>

    <div *ngIf="category.dishes?.length > 0">
      <div class="dish-list">
        <div *ngFor="let dish of category.dishes" class="dish-card">
          <img [src]="dish.photo" alt="{{ dish.name }}" class="dish-image" />
          <h3>{{ dish.name }}</h3>
          <p>{{ dish.description }}</p>
          <p><strong>Preço:</strong> {{ dish.price | currency:'EUR' }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="category.dishes?.length === 0">
      <p>Sem pratos disponíveis nesta categoria.</p>
    </div>
  </div>
</div>

<!-- Exibe os pratos filtrados (aparece apenas quando está filtrado) -->
<div *ngIf="isFiltered">
  <h2>Pratos da Categoria</h2>
  <button (click)="clearFilter()">Limpar Filtro</button> <!-- Botão para limpar o filtro -->
  <div class="dish-list">
    <div *ngFor="let dish of filteredDishes" class="dish-card">
      <img [src]="dish.photo" alt="{{ dish.name }}" class="dish-image" />
      <h3>{{ dish.name }}</h3>
      <p>{{ dish.description }}</p>
      <p><strong>Preço:</strong> {{ dish.price | currency:'EUR' }}</p>
    </div>
  </div>
</div>

<div *ngIf="filteredDishes.length === 0">
  <p>Nenhum prato disponível nesta categoria.</p>
</div>